.alpha .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/alpha-pawn-white.svg");
}
.alpha .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/alpha-knight-white.svg");
}
.alpha .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/alpha-bishop-white.svg");
}
.alpha .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/alpha-rook-white.svg");
}
.alpha .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/alpha-queen-white.svg");
}
.alpha .cg-wrap piece.king.white {
	background-image: url("../images/pieces/alpha-king-white.svg");
}
.alpha .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/alpha-pawn-black.svg");
}
.alpha .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/alpha-knight-black.svg");
}
.alpha .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/alpha-bishop-black.svg");
}
.alpha .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/alpha-rook-black.svg");
}
.alpha .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/alpha-queen-black.svg");
}
.alpha .cg-wrap piece.king.black {
	background-image: url("../images/pieces/alpha-king-black.svg");
}
