.california .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/california-pawn-white.svg");
}
.california .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/california-knight-white.svg");
}
.california .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/california-bishop-white.svg");
}
.california .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/california-rook-white.svg");
}
.california .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/california-queen-white.svg");
}
.california .cg-wrap piece.king.white {
	background-image: url("../images/pieces/california-king-white.svg");
}
.california .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/california-pawn-black.svg");
}
.california .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/california-knight-black.svg");
}
.california .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/california-bishop-black.svg");
}
.california .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/california-rook-black.svg");
}
.california .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/california-queen-black.svg");
}
.california .cg-wrap piece.king.black {
	background-image: url("../images/pieces/california-king-black.svg");
}
