.cardinal .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/cardinal-pawn-white.svg");
}
.cardinal .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/cardinal-knight-white.svg");
}
.cardinal .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/cardinal-bishop-white.svg");
}
.cardinal .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/cardinal-rook-white.svg");
}
.cardinal .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/cardinal-queen-white.svg");
}
.cardinal .cg-wrap piece.king.white {
	background-image: url("../images/pieces/cardinal-king-white.svg");
}
.cardinal .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/cardinal-pawn-black.svg");
}
.cardinal .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/cardinal-knight-black.svg");
}
.cardinal .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/cardinal-bishop-black.svg");
}
.cardinal .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/cardinal-rook-black.svg");
}
.cardinal .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/cardinal-queen-black.svg");
}
.cardinal .cg-wrap piece.king.black {
	background-image: url("../images/pieces/cardinal-king-black.svg");
}
