.cburnett .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/cburnett-pawn-white.svg");
}
.cburnett .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/cburnett-knight-white.svg");
}
.cburnett .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/cburnett-bishop-white.svg");
}
.cburnett .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/cburnett-rook-white.svg");
}
.cburnett .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/cburnett-queen-white.svg");
}
.cburnett .cg-wrap piece.king.white {
	background-image: url("../images/pieces/cburnett-king-white.svg");
}
.cburnett .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/cburnett-pawn-black.svg");
}
.cburnett .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/cburnett-knight-black.svg");
}
.cburnett .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/cburnett-bishop-black.svg");
}
.cburnett .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/cburnett-rook-black.svg");
}
.cburnett .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/cburnett-queen-black.svg");
}
.cburnett .cg-wrap piece.king.black {
	background-image: url("../images/pieces/cburnett-king-black.svg");
}
