.chess7 .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/chess7-pawn-white.svg");
}
.chess7 .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/chess7-knight-white.svg");
}
.chess7 .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/chess7-bishop-white.svg");
}
.chess7 .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/chess7-rook-white.svg");
}
.chess7 .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/chess7-queen-white.svg");
}
.chess7 .cg-wrap piece.king.white {
	background-image: url("../images/pieces/chess7-king-white.svg");
}
.chess7 .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/chess7-pawn-black.svg");
}
.chess7 .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/chess7-knight-black.svg");
}
.chess7 .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/chess7-bishop-black.svg");
}
.chess7 .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/chess7-rook-black.svg");
}
.chess7 .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/chess7-queen-black.svg");
}
.chess7 .cg-wrap piece.king.black {
	background-image: url("../images/pieces/chess7-king-black.svg");
}
