.chessnut .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/chessnut-pawn-white.svg");
}
.chessnut .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/chessnut-knight-white.svg");
}
.chessnut .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/chessnut-bishop-white.svg");
}
.chessnut .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/chessnut-rook-white.svg");
}
.chessnut .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/chessnut-queen-white.svg");
}
.chessnut .cg-wrap piece.king.white {
	background-image: url("../images/pieces/chessnut-king-white.svg");
}
.chessnut .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/chessnut-pawn-black.svg");
}
.chessnut .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/chessnut-knight-black.svg");
}
.chessnut .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/chessnut-bishop-black.svg");
}
.chessnut .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/chessnut-rook-black.svg");
}
.chessnut .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/chessnut-queen-black.svg");
}
.chessnut .cg-wrap piece.king.black {
	background-image: url("../images/pieces/chessnut-king-black.svg");
}
