.companion .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/companion-pawn-white.svg");
}
.companion .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/companion-knight-white.svg");
}
.companion .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/companion-bishop-white.svg");
}
.companion .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/companion-rook-white.svg");
}
.companion .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/companion-queen-white.svg");
}
.companion .cg-wrap piece.king.white {
	background-image: url("../images/pieces/companion-king-white.svg");
}
.companion .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/companion-pawn-black.svg");
}
.companion .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/companion-knight-black.svg");
}
.companion .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/companion-bishop-black.svg");
}
.companion .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/companion-rook-black.svg");
}
.companion .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/companion-queen-black.svg");
}
.companion .cg-wrap piece.king.black {
	background-image: url("../images/pieces/companion-king-black.svg");
}
