.dubrovny .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/dubrovny-pawn-white.svg");
}
.dubrovny .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/dubrovny-knight-white.svg");
}
.dubrovny .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/dubrovny-bishop-white.svg");
}
.dubrovny .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/dubrovny-rook-white.svg");
}
.dubrovny .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/dubrovny-queen-white.svg");
}
.dubrovny .cg-wrap piece.king.white {
	background-image: url("../images/pieces/dubrovny-king-white.svg");
}
.dubrovny .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/dubrovny-pawn-black.svg");
}
.dubrovny .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/dubrovny-knight-black.svg");
}
.dubrovny .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/dubrovny-bishop-black.svg");
}
.dubrovny .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/dubrovny-rook-black.svg");
}
.dubrovny .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/dubrovny-queen-black.svg");
}
.dubrovny .cg-wrap piece.king.black {
	background-image: url("../images/pieces/dubrovny-king-black.svg");
}
