.fantasy .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/fantasy-pawn-white.svg");
}
.fantasy .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/fantasy-knight-white.svg");
}
.fantasy .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/fantasy-bishop-white.svg");
}
.fantasy .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/fantasy-rook-white.svg");
}
.fantasy .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/fantasy-queen-white.svg");
}
.fantasy .cg-wrap piece.king.white {
	background-image: url("../images/pieces/fantasy-king-white.svg");
}
.fantasy .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/fantasy-pawn-black.svg");
}
.fantasy .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/fantasy-knight-black.svg");
}
.fantasy .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/fantasy-bishop-black.svg");
}
.fantasy .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/fantasy-rook-black.svg");
}
.fantasy .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/fantasy-queen-black.svg");
}
.fantasy .cg-wrap piece.king.black {
	background-image: url("../images/pieces/fantasy-king-black.svg");
}
