.fresca .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/fresca-pawn-white.svg");
}
.fresca .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/fresca-knight-white.svg");
}
.fresca .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/fresca-bishop-white.svg");
}
.fresca .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/fresca-rook-white.svg");
}
.fresca .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/fresca-queen-white.svg");
}
.fresca .cg-wrap piece.king.white {
	background-image: url("../images/pieces/fresca-king-white.svg");
}
.fresca .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/fresca-pawn-black.svg");
}
.fresca .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/fresca-knight-black.svg");
}
.fresca .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/fresca-bishop-black.svg");
}
.fresca .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/fresca-rook-black.svg");
}
.fresca .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/fresca-queen-black.svg");
}
.fresca .cg-wrap piece.king.black {
	background-image: url("../images/pieces/fresca-king-black.svg");
}
