.gioco .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/gioco-pawn-white.svg");
}
.gioco .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/gioco-knight-white.svg");
}
.gioco .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/gioco-bishop-white.svg");
}
.gioco .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/gioco-rook-white.svg");
}
.gioco .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/gioco-queen-white.svg");
}
.gioco .cg-wrap piece.king.white {
	background-image: url("../images/pieces/gioco-king-white.svg");
}
.gioco .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/gioco-pawn-black.svg");
}
.gioco .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/gioco-knight-black.svg");
}
.gioco .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/gioco-bishop-black.svg");
}
.gioco .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/gioco-rook-black.svg");
}
.gioco .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/gioco-queen-black.svg");
}
.gioco .cg-wrap piece.king.black {
	background-image: url("../images/pieces/gioco-king-black.svg");
}
