.governor .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/governor-pawn-white.svg");
}
.governor .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/governor-knight-white.svg");
}
.governor .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/governor-bishop-white.svg");
}
.governor .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/governor-rook-white.svg");
}
.governor .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/governor-queen-white.svg");
}
.governor .cg-wrap piece.king.white {
	background-image: url("../images/pieces/governor-king-white.svg");
}
.governor .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/governor-pawn-black.svg");
}
.governor .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/governor-knight-black.svg");
}
.governor .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/governor-bishop-black.svg");
}
.governor .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/governor-rook-black.svg");
}
.governor .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/governor-queen-black.svg");
}
.governor .cg-wrap piece.king.black {
	background-image: url("../images/pieces/governor-king-black.svg");
}
