.horsey .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/horsey-pawn-white.svg");
}
.horsey .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/horsey-knight-white.svg");
}
.horsey .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/horsey-bishop-white.svg");
}
.horsey .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/horsey-rook-white.svg");
}
.horsey .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/horsey-queen-white.svg");
}
.horsey .cg-wrap piece.king.white {
	background-image: url("../images/pieces/horsey-king-white.svg");
}
.horsey .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/horsey-pawn-black.svg");
}
.horsey .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/horsey-knight-black.svg");
}
.horsey .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/horsey-bishop-black.svg");
}
.horsey .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/horsey-rook-black.svg");
}
.horsey .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/horsey-queen-black.svg");
}
.horsey .cg-wrap piece.king.black {
	background-image: url("../images/pieces/horsey-king-black.svg");
}
