.icpieces .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/icpieces-pawn-white.svg");
}
.icpieces .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/icpieces-knight-white.svg");
}
.icpieces .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/icpieces-bishop-white.svg");
}
.icpieces .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/icpieces-rook-white.svg");
}
.icpieces .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/icpieces-queen-white.svg");
}
.icpieces .cg-wrap piece.king.white {
	background-image: url("../images/pieces/icpieces-king-white.svg");
}
.icpieces .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/icpieces-pawn-black.svg");
}
.icpieces .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/icpieces-knight-black.svg");
}
.icpieces .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/icpieces-bishop-black.svg");
}
.icpieces .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/icpieces-rook-black.svg");
}
.icpieces .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/icpieces-queen-black.svg");
}
.icpieces .cg-wrap piece.king.black {
	background-image: url("../images/pieces/icpieces-king-black.svg");
}
