.kosal .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/kosal-pawn-white.svg");
}
.kosal .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/kosal-knight-white.svg");
}
.kosal .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/kosal-bishop-white.svg");
}
.kosal .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/kosal-rook-white.svg");
}
.kosal .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/kosal-queen-white.svg");
}
.kosal .cg-wrap piece.king.white {
	background-image: url("../images/pieces/kosal-king-white.svg");
}
.kosal .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/kosal-pawn-black.svg");
}
.kosal .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/kosal-knight-black.svg");
}
.kosal .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/kosal-bishop-black.svg");
}
.kosal .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/kosal-rook-black.svg");
}
.kosal .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/kosal-queen-black.svg");
}
.kosal .cg-wrap piece.king.black {
	background-image: url("../images/pieces/kosal-king-black.svg");
}
