.leipzig .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/leipzig-pawn-white.svg");
}
.leipzig .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/leipzig-knight-white.svg");
}
.leipzig .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/leipzig-bishop-white.svg");
}
.leipzig .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/leipzig-rook-white.svg");
}
.leipzig .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/leipzig-queen-white.svg");
}
.leipzig .cg-wrap piece.king.white {
	background-image: url("../images/pieces/leipzig-king-white.svg");
}
.leipzig .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/leipzig-pawn-black.svg");
}
.leipzig .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/leipzig-knight-black.svg");
}
.leipzig .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/leipzig-bishop-black.svg");
}
.leipzig .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/leipzig-rook-black.svg");
}
.leipzig .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/leipzig-queen-black.svg");
}
.leipzig .cg-wrap piece.king.black {
	background-image: url("../images/pieces/leipzig-king-black.svg");
}
