.letter .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/letter-pawn-white.svg");
}
.letter .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/letter-knight-white.svg");
}
.letter .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/letter-bishop-white.svg");
}
.letter .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/letter-rook-white.svg");
}
.letter .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/letter-queen-white.svg");
}
.letter .cg-wrap piece.king.white {
	background-image: url("../images/pieces/letter-king-white.svg");
}
.letter .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/letter-pawn-black.svg");
}
.letter .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/letter-knight-black.svg");
}
.letter .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/letter-bishop-black.svg");
}
.letter .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/letter-rook-black.svg");
}
.letter .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/letter-queen-black.svg");
}
.letter .cg-wrap piece.king.black {
	background-image: url("../images/pieces/letter-king-black.svg");
}
