.libra .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/libra-pawn-white.svg");
}
.libra .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/libra-knight-white.svg");
}
.libra .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/libra-bishop-white.svg");
}
.libra .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/libra-rook-white.svg");
}
.libra .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/libra-queen-white.svg");
}
.libra .cg-wrap piece.king.white {
	background-image: url("../images/pieces/libra-king-white.svg");
}
.libra .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/libra-pawn-black.svg");
}
.libra .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/libra-knight-black.svg");
}
.libra .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/libra-bishop-black.svg");
}
.libra .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/libra-rook-black.svg");
}
.libra .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/libra-queen-black.svg");
}
.libra .cg-wrap piece.king.black {
	background-image: url("../images/pieces/libra-king-black.svg");
}
