.maestro .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/maestro-pawn-white.svg");
}
.maestro .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/maestro-knight-white.svg");
}
.maestro .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/maestro-bishop-white.svg");
}
.maestro .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/maestro-rook-white.svg");
}
.maestro .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/maestro-queen-white.svg");
}
.maestro .cg-wrap piece.king.white {
	background-image: url("../images/pieces/maestro-king-white.svg");
}
.maestro .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/maestro-pawn-black.svg");
}
.maestro .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/maestro-knight-black.svg");
}
.maestro .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/maestro-bishop-black.svg");
}
.maestro .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/maestro-rook-black.svg");
}
.maestro .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/maestro-queen-black.svg");
}
.maestro .cg-wrap piece.king.black {
	background-image: url("../images/pieces/maestro-king-black.svg");
}
