.merida .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/merida-pawn-white.svg");
}
.merida .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/merida-knight-white.svg");
}
.merida .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/merida-bishop-white.svg");
}
.merida .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/merida-rook-white.svg");
}
.merida .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/merida-queen-white.svg");
}
.merida .cg-wrap piece.king.white {
	background-image: url("../images/pieces/merida-king-white.svg");
}
.merida .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/merida-pawn-black.svg");
}
.merida .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/merida-knight-black.svg");
}
.merida .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/merida-bishop-black.svg");
}
.merida .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/merida-rook-black.svg");
}
.merida .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/merida-queen-black.svg");
}
.merida .cg-wrap piece.king.black {
	background-image: url("../images/pieces/merida-king-black.svg");
}
