.pirouetti .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/pirouetti-pawn-white.svg");
}
.pirouetti .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/pirouetti-knight-white.svg");
}
.pirouetti .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/pirouetti-bishop-white.svg");
}
.pirouetti .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/pirouetti-rook-white.svg");
}
.pirouetti .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/pirouetti-queen-white.svg");
}
.pirouetti .cg-wrap piece.king.white {
	background-image: url("../images/pieces/pirouetti-king-white.svg");
}
.pirouetti .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/pirouetti-pawn-black.svg");
}
.pirouetti .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/pirouetti-knight-black.svg");
}
.pirouetti .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/pirouetti-bishop-black.svg");
}
.pirouetti .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/pirouetti-rook-black.svg");
}
.pirouetti .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/pirouetti-queen-black.svg");
}
.pirouetti .cg-wrap piece.king.black {
	background-image: url("../images/pieces/pirouetti-king-black.svg");
}
