.pixel .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/pixel-pawn-white.svg");
}
.pixel .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/pixel-knight-white.svg");
}
.pixel .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/pixel-bishop-white.svg");
}
.pixel .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/pixel-rook-white.svg");
}
.pixel .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/pixel-queen-white.svg");
}
.pixel .cg-wrap piece.king.white {
	background-image: url("../images/pieces/pixel-king-white.svg");
}
.pixel .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/pixel-pawn-black.svg");
}
.pixel .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/pixel-knight-black.svg");
}
.pixel .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/pixel-bishop-black.svg");
}
.pixel .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/pixel-rook-black.svg");
}
.pixel .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/pixel-queen-black.svg");
}
.pixel .cg-wrap piece.king.black {
	background-image: url("../images/pieces/pixel-king-black.svg");
}
