.reillycraig .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/reillycraig-pawn-white.svg");
}
.reillycraig .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/reillycraig-knight-white.svg");
}
.reillycraig .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/reillycraig-bishop-white.svg");
}
.reillycraig .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/reillycraig-rook-white.svg");
}
.reillycraig .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/reillycraig-queen-white.svg");
}
.reillycraig .cg-wrap piece.king.white {
	background-image: url("../images/pieces/reillycraig-king-white.svg");
}
.reillycraig .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/reillycraig-pawn-black.svg");
}
.reillycraig .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/reillycraig-knight-black.svg");
}
.reillycraig .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/reillycraig-bishop-black.svg");
}
.reillycraig .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/reillycraig-rook-black.svg");
}
.reillycraig .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/reillycraig-queen-black.svg");
}
.reillycraig .cg-wrap piece.king.black {
	background-image: url("../images/pieces/reillycraig-king-black.svg");
}
