.riohacha .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/riohacha-pawn-white.svg");
}
.riohacha .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/riohacha-knight-white.svg");
}
.riohacha .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/riohacha-bishop-white.svg");
}
.riohacha .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/riohacha-rook-white.svg");
}
.riohacha .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/riohacha-queen-white.svg");
}
.riohacha .cg-wrap piece.king.white {
	background-image: url("../images/pieces/riohacha-king-white.svg");
}
.riohacha .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/riohacha-pawn-black.svg");
}
.riohacha .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/riohacha-knight-black.svg");
}
.riohacha .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/riohacha-bishop-black.svg");
}
.riohacha .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/riohacha-rook-black.svg");
}
.riohacha .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/riohacha-queen-black.svg");
}
.riohacha .cg-wrap piece.king.black {
	background-image: url("../images/pieces/riohacha-king-black.svg");
}
