.shapes .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/shapes-pawn-white.svg");
}
.shapes .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/shapes-knight-white.svg");
}
.shapes .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/shapes-bishop-white.svg");
}
.shapes .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/shapes-rook-white.svg");
}
.shapes .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/shapes-queen-white.svg");
}
.shapes .cg-wrap piece.king.white {
	background-image: url("../images/pieces/shapes-king-white.svg");
}
.shapes .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/shapes-pawn-black.svg");
}
.shapes .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/shapes-knight-black.svg");
}
.shapes .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/shapes-bishop-black.svg");
}
.shapes .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/shapes-rook-black.svg");
}
.shapes .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/shapes-queen-black.svg");
}
.shapes .cg-wrap piece.king.black {
	background-image: url("../images/pieces/shapes-king-black.svg");
}
