.spatial .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/spatial-pawn-white.svg");
}
.spatial .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/spatial-knight-white.svg");
}
.spatial .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/spatial-bishop-white.svg");
}
.spatial .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/spatial-rook-white.svg");
}
.spatial .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/spatial-queen-white.svg");
}
.spatial .cg-wrap piece.king.white {
	background-image: url("../images/pieces/spatial-king-white.svg");
}
.spatial .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/spatial-pawn-black.svg");
}
.spatial .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/spatial-knight-black.svg");
}
.spatial .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/spatial-bishop-black.svg");
}
.spatial .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/spatial-rook-black.svg");
}
.spatial .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/spatial-queen-black.svg");
}
.spatial .cg-wrap piece.king.black {
	background-image: url("../images/pieces/spatial-king-black.svg");
}
