.staunty .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/staunty-pawn-white.svg");
}
.staunty .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/staunty-knight-white.svg");
}
.staunty .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/staunty-bishop-white.svg");
}
.staunty .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/staunty-rook-white.svg");
}
.staunty .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/staunty-queen-white.svg");
}
.staunty .cg-wrap piece.king.white {
	background-image: url("../images/pieces/staunty-king-white.svg");
}
.staunty .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/staunty-pawn-black.svg");
}
.staunty .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/staunty-knight-black.svg");
}
.staunty .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/staunty-bishop-black.svg");
}
.staunty .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/staunty-rook-black.svg");
}
.staunty .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/staunty-queen-black.svg");
}
.staunty .cg-wrap piece.king.black {
	background-image: url("../images/pieces/staunty-king-black.svg");
}
