.tatiana .cg-wrap piece.pawn.white {
	background-image: url("../images/pieces/tatiana-pawn-white.svg");
}
.tatiana .cg-wrap piece.knight.white {
	background-image: url("../images/pieces/tatiana-knight-white.svg");
}
.tatiana .cg-wrap piece.bishop.white {
	background-image: url("../images/pieces/tatiana-bishop-white.svg");
}
.tatiana .cg-wrap piece.rook.white {
	background-image: url("../images/pieces/tatiana-rook-white.svg");
}
.tatiana .cg-wrap piece.queen.white {
	background-image: url("../images/pieces/tatiana-queen-white.svg");
}
.tatiana .cg-wrap piece.king.white {
	background-image: url("../images/pieces/tatiana-king-white.svg");
}
.tatiana .cg-wrap piece.pawn.black {
	background-image: url("../images/pieces/tatiana-pawn-black.svg");
}
.tatiana .cg-wrap piece.knight.black {
	background-image: url("../images/pieces/tatiana-knight-black.svg");
}
.tatiana .cg-wrap piece.bishop.black {
	background-image: url("../images/pieces/tatiana-bishop-black.svg");
}
.tatiana .cg-wrap piece.rook.black {
	background-image: url("../images/pieces/tatiana-rook-black.svg");
}
.tatiana .cg-wrap piece.queen.black {
	background-image: url("../images/pieces/tatiana-queen-black.svg");
}
.tatiana .cg-wrap piece.king.black {
	background-image: url("../images/pieces/tatiana-king-black.svg");
}
