name: Release

on:
  push:
    tags:
      - "v*.*.*"
      - "*.*.*"

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build

      - name: Create release zip
        run: |
          cd out
          zip -r ../chess-move-notes-${GITHUB_REF_NAME}.zip .

      - name: Publish GitHub release
        uses: softprops/action-gh-release@v2.5.0
        with:
          files: chess-move-notes-${{ github.ref_name }}.zip
